.footer{
    background: var(--primaryBackground);
    padding: 7px 15px;
    color: var(--primaryColor);
    display: flex;
    justify-content:space-between;
}
.footerlogo{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: calc(0.5vw + 10px);
}

.footer a{
    text-decoration: none;
    color: var(--primaryColor);
    font-size: calc(0.4vw + 10px);
}